/* Box model resets */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
}

/* Variables */
:root {
  /* typography */
  --font-family: Helvetica, Arial, sans-serif;
  --line-height: 1.6;

  /* brand colours */
  --cyan: #098B8C;
  --gold: #D2A764;
  --red: #F16549;
  --sand: #EFEDE8;
  --sand-light: #F8F6F1;

  --grey-dark: #3e3f44;
  --grey-light: #ededed;
  --grey-middle: #9b9b9d;
  --white: #FFFFFF;

  /* tables */
  --corner-radius: 3px;
}

body {
  font-family: var(--font-family);
  color: var(--grey-dark);
  background-color: var(--sand);
  line-height: var(--line-height);
}

.header {
  text-align: center;
  background-color: var(--cyan);
}
.header > h1 {
  color: var(--white);
  margin: 0;
  padding: 1.6rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.container {
  padding: 1.6rem;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 0.8rem;
}

.table {
  width: 100%;
  border-radius: var(--corner-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.table thead th {
  font-size: 0.8em;
  font-weight: inherit;
  color: var(--cyan);
  background-color: var(--white);
}
.table tbody td {
  border-top: 1px solid var(--grey-light);
  font-size: 0.7rem;
}
.table thead th,
.table tbody td {
  padding: 0.8rem 1.6rem;
  text-align: left;
  background-color: var(--white);
}

.table tbody tr:first-child td {
  background: linear-gradient(to bottom, var(--sand-light), var(--white));
}

/* Round all four corner table cells */
.table thead tr:first-child th:first-child {
  border-top-left-radius: var(--corner-radius);
}
.table thead tr:first-child th:last-child {
  border-top-right-radius: var(--corner-radius);
}
.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--corner-radius);
}
.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--corner-radius);
}

/* Highlight the hovered row */
.table tbody tr:hover td {
  color: var(--cyan);
  cursor: pointer;
}

.transactions {
  table-layout: fixed;
}
.transactions thead th:first-child,
.transactions tbody td:first-child {
  width: 10%;
}
.transactions thead th:last-child,
.transactions tbody td:last-child {
  text-align: right;
  width: 10%;
}
.transactions tbody td:nth-child(odd) {
  color: var(--grey-middle);
}
